<launch>
	<node pkg="suporteformacao" type="create_formation" name="create_formation" >
	  <param name="/output"       type="string"     value="$(find suporteformacao)/config/formation.txt" />
	  <param name="/input"        type="string"     value="$(find suporteformacao)/config/robots.txt" />
	  <param name="/cell_x"       type="double"     value="1" />
	  <param name="/cell_y"       type="double"     value="1" />
	  <param name="/formation"    type="string"     value="vshape" />
	  <param name="/angle"        type="double"     value="90" />
	</node>	
</launch>