<launch>
<include file="$(find suporteformacao)/launch/setup.launch" />
<include file="$(find suporteformacao)/launch/robots/p3at_r001.launch" />
<include file="$(find suporteformacao)/launch/robots/p3at_r002.launch" />
<include file="$(find suporteformacao)/launch/robots/p3at_r003.launch" />
<include file="$(find suporteformacao)/launch/robots/p3at_r004.launch" />
<include file="$(find suporteformacao)/launch/robots/p3at_r005.launch" />
<include file="$(find suporteformacao)/launch/robots/p3at_r006.launch" />
<include file="$(find suporteformacao)/launch/robots/p3at_r007.launch" />
<include file="$(find suporteformacao)/launch/robots/p3at_r008.launch" />
<include file="$(find suporteformacao)/launch/robots/p3at_r009.launch" />
<include file="$(find suporteformacao)/launch/robots/p3at_r010.launch" />
<include file="$(find suporteformacao)/launch/robots/p3at_r011.launch" />
<include file="$(find suporteformacao)/launch/robots/p3at_r012.launch" />
<include file="$(find suporteformacao)/launch/robots/p3at_r013.launch" />
<include file="$(find suporteformacao)/launch/robots/p3at_r014.launch" />
<include file="$(find suporteformacao)/launch/robots/p3at_r015.launch" />
</launch>



